body {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    touch-action: none;
}

.faceContainer {
    position: relative;
}

.slice {
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transition: all 0.5s;
    margin: -12.5vw 0 0 -12.5vw;
    transition-timing-function: cubic-bezier(0, 1.4, 1, 1);
}

.large {
    width: 70vw;
    height: 70vw;

    margin: -35vw 0 0 -35vw;
}