:root {
    --mouse-x: 50vw;
    --mouse-y: 50vh;
}

body {
    background: white;
    touch-action: none;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
}

.drop {
    background: rgba(0, 255, 0, 0.5);
}

.faceContainer {
    position: relative;
}

.slice {
    width: 25vw;
    height: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transition: all 0.5s;
    margin: -12.5vw 0 0 -12.5vw;
    transition-timing-function: cubic-bezier(0, 1.4, 1, 1);
}

.small {
    top: var(--mouse-y) !important;
    left: var(--mouse-x) !important;
}

.large {
    width: 70vw;
    height: 70vw;

    margin: -35vw 0 0 -35vw;
}

#modal {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

label {
    display: block;
}

#preview_container {
    position: relative;
    padding: 0;
    margin: 0 0 0 200px;
}

#preview_cursor {
    width: 6px;
    height: 6px;
    background-color: red;
    position: absolute;
}
